@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
        @apply font-semibold;
        @apply text-themetext-nerfed;
    }
    h2 {
        @apply text-2xl;
        @apply font-semibold;
        @apply text-themetext-nerfed;
    }
    h3 {
        @apply text-xl;
        @apply font-semibold;
        @apply text-themetext-nerfed;
    }
    h4 {
        @apply text-lg;
    }
    p {
        @apply text-base;
    }
    input.hide-arrows[type="number"]::-webkit-outer-spin-button,
    input.hide-arrows[type="number"]::-webkit-inner-spin-button,
    input.hide-arrows[type="number"] {
        text-align: center;
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }

    body {
        @apply bg-ui-950;
        @apply text-themetext;
    }

    .bg-gradient {
        background: var(--gradient);
    }
}

:root {
    --gradient: radial-gradient(circle at 50vw 30vh, #222121, ease-in-out, #0e0e0e);
    --color-ui-950: #121212;
    --color-ui-900: #141414;
    --color-ui-800: #1f1f1f;
    --color-ui-700: #333333;
    --color-ui-600: #878787;
    --color-ui-500: #bebebe;
    --color-ui-400: #cccccc;
    --color-themetext: #ffffff;
    --color-themetext-nerfed: #f2f2f2;
    --color-invertme: #c9c9c9;
}

/* TODO: FIDELITY ADD TOGGLE FOR LIGHT MODE */

/* TODO: make clickable area bigger */
/* regular slider */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 1000px;
    background-color: var(--color-ui-700);
}

/* Chrome */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px solid var(--color-themetext);
    box-shadow: 0 0 0 4px var(--color-ui-950);
    border-radius: 100px;
    background-color: var(--color-ui-900);
    cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    border: 1px solid var(--color-themetext);
    box-shadow: 0 0 0 4px var(--color-ui-950);
    border-radius: 100px;
    background-color: var(--color-ui-900);
    cursor: pointer;
}

input[type="range"]::-moz-range-progress {
    appearance: none;
    border-radius: 100px;
    background-color: var(--color-themetext);
}
input[type="range"].noprogress::-moz-range-progress {
    background-color: transparent;
}

/* Rule slider */
input[type="range"].rule-slider {
    width: 100%;
    height: 64px;
    background-color: var(--color-ui-800);
    border: 4px solid var(--color-ui-800);
    border-top: none;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}

/* chrome, safari */
/* input[type="range"].rule-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: unset !important;
    height: 100px;
    width: 32px;
    background-color: transparent !important;
    background-image: linear-gradient(var(--color-themetext), var(--color-themetext));
    background-size: 4px 100%; /* Visual width 
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    /* background-color: var(--color-themetext); 
    /* box-shadow: unset !important; 
    box-shadow: -2000px 0 20px 2000px var(--color-ui-500);
    cursor: pointer;
    position: relative;
} */
input[type="range"].rule-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: unset !important;
    height: 100px;
    width: 20px;
    background-color: var(--color-themetext) !important;
    background-image: linear-gradient(
        0.25turn,
        var(--color-ui-500) 0%,
        var(--color-ui-500) 27%,
        var(--color-themetext) 27%,
        var(--color-themetext) 73%,
        var(--color-ui-500) 73%,
        var(--color-ui-500) 100%
    );
    background-size: 10px 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: -2000px 0 0 1990px var(--color-ui-600);
    position: relative;
}

/* firefox */
input[type="range"].rule-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: unset !important;
    height: 100px;
    width: 20px;
    background-color: var(--color-themetext) !important;
    background-image: linear-gradient(
        0.25turn,
        var(--color-ui-500) 0%,
        var(--color-ui-500) 27%,
        var(--color-themetext) 27%,
        var(--color-themetext) 73%,
        var(--color-ui-500) 73%,
        var(--color-ui-500) 100%
    );
    background-size: 10px 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: -2000px 0 0 1990px var(--color-ui-600);
    position: relative;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

main {
    transition-property: opacity, filter, transform;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.page-transition-right {
    opacity: 0;
    transform: translateX(32px);
    filter: blur(1px);
}

.page-transition-left {
    opacity: 0;
    transform: translateX(-32px);
    filter: blur(1px);
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-ui-700) var(--color-ui-900);
}
