.customThumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border: 3px solid rgb(219, 219, 219);
    cursor: pointer;
    border-radius: 100%;
}
.customThumb::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 14px;
    width: 14px;
    background-color: black;
    border: 3px solid rgb(219, 219, 219);
    box-shadow: -2000px 0 0 1990px rgb(219, 219, 219);
    cursor: pointer;
    border-radius: 100%;
}

.customThumb::-moz-range-progress {
    appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .customThumb {
        overflow: hidden;
    }
    .customThumb::-webkit-slider-thumb {
        box-shadow: -2000px 0 0 1994px rgb(82 82 91);
        position: relative;
    }
}
